<div class="w-full flex justify-between mx-auto my-3 fixed top-0 items-center py-3 px-3 border-black rounded-none border-8">
    <div class="flex-none">
        buat...
    </div>
    <div class="flex-none">
        apa...
    </div>
</div>